/.vs/SMathUI/v16/.suo
/NF4SMath.vbproj.user
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/NF4SMath.Resources.resources
/obj/Debug/NF4SMath.dll
/obj/Debug/NF4SMath.pdb
/obj/Debug/NF4SMath.vbproj.AssemblyReference.cache
/obj/Debug/NF4SMath.vbproj.CoreCompileInputs.cache
/obj/Debug/NF4SMath.vbproj.FileListAbsolute.txt
/obj/Debug/NF4SMath.vbproj.GenerateResource.cache
/obj/Debug/NF4SMath.xml
/obj/Debug/TempPE/My Project.Application.Designer.vb.dll
/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
